body {
	background: #ffffff;
	color: #000;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight: 700;
    font-size: x-large;
    width: 100%;
    height: 100%;
}   

.contenedor {
	min-width: 350px;
}

.contenedor > div,
.contenedor .header,
.contenedor .content,
.contenedor .footer {
	padding: 20px;
	border-radius: 4px;
}