header {
    background-color: #ffffff;
    font-size: 25px;
    box-shadow: 0px 10px 20px -10px rgba(1,1,1,0.6);
}

.navbar {
    width: 95%;
    height: 200px;
    margin: 20px auto;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

    .navbar .navbar-logo{
        margin: 0 0 0 10px;
    }

    .navbar .navbar-list{
        height: 100%;
        padding-left: 0;
        margin: 0 0 0 auto;

        display: grid;
        grid-template-columns: repeat(5, auto);
    }
        .elemento-lista {
            height: 100%;
            list-style-type: none;
        }
        
            .elemento-lista .enlace {
                height: inherit;
                color: #be368a;
                font-weight: 700;
                text-decoration: none;
                padding: 0 15px;

                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-gap: 10px;
                align-items: center;
                justify-content: space-between;
            }
            .elemento-lista .enlace:hover {
                color: #c9ccbe;
            }
            .enlace-activo {
                color: white !important;
            }

                /* Clase para modificar texto de un elemento, incorporar en texto */
                .elemento-lista-text {
                    height: 100%;
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .elemento-lista-icon {
                    height: 100%;
                    list-style-type: none;
                    font-size: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }



