header {
    background-color: #ffffff;
    font-size: 15px;
    box-shadow: 0px 10px 20px -10px rgba(1,1,1,0.6);
}

nav {
    display: grid;
    grid-template-rows: minmax(min-content, 100px);
}

    nav .navbar {
        width: 95%;
        background-color: #ffffff;
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        align-content: space-around;
    }

        .navbar .menu {
            display: none;
        }
            .menu:hover{
                filter: opacity(50%);
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
            }

        nav .navbar .navbar-menu {
            padding-left: 0;
            margin: 0 0 0 auto;
            display: grid;
            grid-gap: 15px;
            place-items: center;
            grid-auto-flow: column;
            grid-auto-columns: minmax(min-content, 40px);
        }
            .navbar-menu .links {
                color: #be368a;
                display: grid;
                grid-auto-flow: column;
                grid-gap: 10px;
            }
                .links:hover{
                    color: #c9ccbe;
                }

    nav .dropdown-menu {
        display: none;
        grid-auto-flow: row;
        background-color: #be368a;
        text-align: end;
    }
            .dropdown-menu .drop-links {
                color: #ffffff;
            }

            .dropdown-menu .drop-links:hover{
                background-color: #ffffff;
                color: #be368a;
            }

/* Queries */

@media only screen and (max-width: 700px) {
    nav .navbar .menu {display: initial;}
    nav .navbar-menu .links {display: none;}
}
